%h1 Listing destinations
%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Description
      %th Trip ID
      %th
      %th
  - @destinations.each do |destination|
    %tr
      %td= link_to destination.name, destination
      %td= destination.description
      %td= destination.trip_id
      %td edit
      %td delete
%br/

