%p
  %b Name:
  = @activity.name
%p
  %b Description:
  = @activity.description

= link_to 'Edit', edit_destination_activity_path(@destination.id,@activity)
\|
= link_to 'Back', trip_destination_path(@destination.trip_id,@destination)
